.Title {
    background-color: midnightblue;
    width: 100%;
    text-align: center;
    font-size: 24px;
    padding: 10px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
}

.DeleteActive {
    margin-left: 10px;
}

.Total, .SubTotal {
    border-bottom: 0.5px solid black;
    margin: 0 10px 0 10px;
    display: flex;
    font-weight: 600;
}

.Total > div, .SubTotal > div {
    width: 45%;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    color: #fff;
    border: none;
    padding: 10px 5px;
    width: 150px;
    border-radius: 5px;
    margin: 5px 0;
    font-size: 15px;
}